.tier-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.tier-item {
  display: flex;
  flex-direction: row;
}

.tier-item__level {
  flex-basis: 10%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
}

.tier-item__body {
  flex-basis: 90%;
  width: 100%;
}
