.campaigns {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .campaign-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .season-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      overflow: scroll;

      .season {
        width: 45%;
        cursor: pointer;

        position: relative;
        white-space: nowrap;

        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .season-name {
          position: absolute;
          left: 5px;
          bottom: 7px;

          font-style: italic;
          font-size: 1rem;
          font-weight: bold;

          -webkit-text-stroke: 1px black;
          color: white;
          text-transform: uppercase;
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5),
            -1px -1px 0px rgba(0, 0, 0, 0.5), 1px -1px 0px rgba(0, 0, 0, 0.5),
            -1px 1px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .year-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .year {
      font-size: 0.8rem;
      padding: 5px 40px;
      border-radius: 8px 6px 0 0;
      letter-spacing: 0.1rem;
      background: #00402d;
      font-style: italic;
      margin-top: -4px; // magic number to fit with season image
    }
  }
}

@media screen and (min-width: 768px) {
  .campaigns {
    flex-direction: column;

    .campaign-row {
      flex-direction: row;
      flex-grow: 1;
      height: 125px;

      .season-container {
        align-items: center;
        overflow: scroll;
        flex-wrap: nowrap;
        justify-content: unset;

        .season {
          min-width: 190px;
          max-width: 190px;
        }
      }
    }

    .year-container {
      justify-content: unset;
      width: 80px; // magic number to fit with season image

      .year {
        transform: rotate(270deg);
        padding: 5px 36px;
        margin-top: -4px; // magic number to fit with season image
      }
    }
  }
}
