.campaigns {
  padding-left: 10px;
  margin: 40px 0;

  .campaign-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100px;

    .season-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .season {
        width: 100px;
        cursor: pointer;
      }
    }
  }

  .year-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    transform-origin: 0 0;
    transform: skew(-8deg);
  }
  .year {
    transform: rotate(270deg);
    padding: 5px 20px;
    border-radius: 8px 6px 0 0;
    letter-spacing: .1rem;
    background: #369;
    font-style: italic;
  }

}