.content-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-title {
  header {
    span {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .back {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 0.8rem;
    }
  }

  .add-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
  }
}

.stat-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  .stat-row__image {
    img {
      width: 30px;
      border-radius: 5px;
    }
  }

  .stats-info {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }

    gap: 22px;
    display: flex;
    width: 75%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    * {
      text-align: center;
      width: 100%;
    }

    .stat-row__map-name {
      flex-basis: 25%;
    }
  }
}
