.campaigns {
  padding-left: 10px;
  margin: 40px 0;

  .campaign-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100px;

    .season-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .season {
        width: 100px;
        cursor: pointer;
      }
    }
  }

  .year-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    transform-origin: 0 0;
    transform: skew(-8deg);
  }
  .year {
    transform: rotate(270deg);
    padding: 5px 20px;
    border-radius: 8px 6px 0 0;
    letter-spacing: .1rem;
    background: #369;
    font-style: italic;
  }

}


.tier-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
}

.tier-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tier-item__level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.tier-item__body {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 100%;
  padding-left: 1rem;
}

.tier-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
}
