.tier-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
}

.tier-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tier-item__level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.tier-item__body {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 100%;
  padding-left: 1rem;
}

.tier-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
}
