.stat-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  .stat-row__image {
    img {
      width: 30px;
      border-radius: 5px;
    }
  }

  .stats-info {
    gap: 22px;
    display: flex;
    width: 75%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    * {
      text-align: center;
      width: 100%;
    }

    .stat-row__map-name {
      flex-basis: 25%;
    }
  }
}
